# Ignore git
.git
.gitignore

# Ignore local Python junk
__pycache__
*.pyc
.venv
venv

# Ignore huge data folders (They are mounted via Compose instead)
models/
qdrant_data/
downloads/
.cache
.env
*.log
qdrant_data
postgres_data
clickhouse_data
minio_data

# Ignore local requirements to force usage of docker version
requirements.txt


